- content_for :header_tags do
  = javascript_include_tag 'application_public'

- content_for :page_title do
  = Rails.configuration.x.local_domain

- content_for :header_tags do
  %meta{ property: 'og:site_name', content: 'RC Mastodon' }/
  %meta{ property: 'og:type', content: 'website' }/
  %meta{ property: 'og:title', content: Rails.configuration.x.local_domain }/
  %meta{ property: 'og:description', content: @description.blank? ? "Recurse Center instance of Mastodon." : strip_tags(@description) }/
  %meta{ property: 'og:image', content: asset_url('octopus.svg') }/
  %meta{ property: 'og:image:width', content: '400' }/
  %meta{ property: 'og:image:height', content: '400' }/
  %meta{ property: 'twitter:card', content: 'summary' }/

.wrapper
  %h1
    = image_tag 'logo.png'
    RC Mastodon

  %p= t('about.about_mastodon').html_safe

  .screenshot-with-signup
    .mascot= image_tag 'octopus.svg'

    - if @open_registrations
      = simple_form_for(@user, url: user_registration_path) do |f|
        = f.simple_fields_for :account do |ff|
          = ff.input :username, autofocus: true, placeholder: t('simple_form.labels.defaults.username'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.username') }

        = f.input :email, placeholder: t('simple_form.labels.defaults.email'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.email') }
        = f.input :password, autocomplete: "off", placeholder: t('simple_form.labels.defaults.password'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.password') }
        = f.input :password_confirmation, autocomplete: "off", placeholder: t('simple_form.labels.defaults.confirm_password'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.confirm_password') }

        .actions
          = f.button :button, t('about.get_started'), type: :submit

        .info
          = link_to t('auth.login'), new_user_session_path, class: 'webapp-btn'
          路
          = link_to t('about.about_this'), about_more_path

  %h3= t('about.features_headline')

  .features-list
    .features-list__column
      %ul.fa-ul
        %li
          = fa_icon('li check-square')
          = t 'about.features.chronology'
        %li
          = fa_icon('li check-square')
          = t 'about.features.public'
        %li
          = fa_icon('li check-square')
          = t 'about.features.characters'
        %li
          = fa_icon('li check-square')
          = t 'about.features.gifv'
    .features-list__column
      %ul.fa-ul
        %li
          = fa_icon('li check-square')
          = t 'about.features.privacy'
        %li
          = fa_icon('li check-square')
          = t 'about.features.blocks'
        %li
          = fa_icon('li check-square')
          = t 'about.features.ethics'
        %li
          = fa_icon('li check-square')
          = t 'about.features.api'

  - unless @description.blank?
    %h3= t('about.description_headline', domain: Rails.configuration.x.local_domain)
    %p= @description.html_safe

  .actions
    .info
      = link_to t('about.terms'), terms_path
      路
      = link_to t('about.apps'), 'https://github.com/tootsuite/mastodon/blob/master/docs/Using-Mastodon/Apps.md'
      路
      = link_to t('about.source_code'), 'https://github.com/Yuffster/rc-mastodon'
      路
